{% load static %}
<html>

<head>
    <title>COMP4321 Group 19 Search Engine</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% comment %} Use Google font called "Inter" {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buttons = document.querySelectorAll(".query_history_button");
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    const query = this.getAttribute('data-top5words');
                    const form = this.closest('form');
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'query';
                    input.value = query;
                    form.appendChild(input);
                    form.submit();
                });
            });
        });
    </script>

</head>

<body class="main">

    <!-- the search logo and our search engine name -->
    <h1 class="title">COMP4321 Group 19 Search Engine</h1>

    <!-- the search area -->
    <form action="{% url 'index' %}" method="post" class="searchArea">
        {% csrf_token %}
        <input class="searchBar" id="query" name="query" type="text" placeholder="Please enter your search query.">
        <input class="searchButton" type="submit" value="Search">
    </form>

    <br>

    <div class="container">

        <div class="leftSidebar">
            <div class="query-history-section">
                <h2>Query History</h2>

                {% if queries %}
                {% for query in queries %}
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <button class="query_history_button" type="button" id="send_button"
                            data-top5words="{{ query.query }}">{{ query.query }}</button>
                    </form>
                </div>
                {% endfor %}
                {% else %}
                <p>No query history.</p>
                {% endif %}
            </div>

            <div class="stemmed-keywords-section">
                <h2>Stemmed Keywords</h2>

                {% if stem_keywords %}
                {% for keyword in stem_keywords %}
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <button class="query_history_button" type="button" id="send_button"
                            data-top5words="{{ query }}">{{
                            query }}</button>
                    </form>
                </div>
                {% endfor %}
                {% else %}
                <p>No stemmed keyword.</p>
                {% endif %}
            </div>
        </div>

        <div class="searchResults">
            <h2>Search Results</h2>

            {% if query_submitted %}
            {% for result in query_results %}
            <div class="searchResultItem">
                <div class="score">
                    {{ result.score }}
                </div>
                <div>
                    <strong>{{ result.title }}</strong><br>
                    <a href="{{ result.url }}" target="_blank">{{ result.url }}</a><br>
                    {{ result.last_modification_date }}, {{ result.page_size }}<br>
                    {% for keyword_freq in result.keywords_frequencies %}
                    {{ keyword_freq }};
                    {% endfor %}<br>

                    <br>
                    <strong>Parent Link:</strong><br>
                    {% for parent_link in result.parent_links %}
                    <a href="{{ parent_link }}" target="_blank">{{ parent_link }}</a><br>
                    {% endfor %}

                    <br>
                    <strong>Child Link:</strong><br>
                    {% for child_link in result.child_links %}
                    <a href="{{ child_link }}" target="_blank">{{ child_link }}</a><br>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No search results.</p>
            {% endif %}
        </div>

    </div>

</body>

</html>