.title {
    font-size: x-large;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.searchArea {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: block;
    width: 500px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.searchButton {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #3efbff;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #5bb5b7;
}

.container {
    display: flex;
}

.leftSidebar {
    flex: 0 0 20%;
    background-color: lightblue;
}

.query_history_button {
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    background-color: #e66aff;
    border: none;
}

.query_history_button:hover {
    background-color: #e66aff6e;
    cursor: pointer;
}

.searchResults {
    flex: 0 0 80%;
    background-color: lightcoral;
}

.searchResultItem {
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    grid-template-columns: 50px auto;
    display: flex;
    align-items: flex-start;
}

.score {
    min-width: 60px;
    font-weight: bold;
    padding-right: 10px;
}