.title {
    font-size: x-large;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.searchArea {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: block;
    width: 500px;
    margin-right: 10px;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.searchButton {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #c0c0c0;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #c0c0c078;
}

.container {
    display: flex;
}

.leftSidebar {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.query-history-section {
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.query_history_button {
    border-radius: 10px;
}

.stemmed-keywords-section {
    background-color: lightcyan;
    padding: 15px;
    border-radius: 10px;
}

.query_history_button {
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    background-color: #e66aff;
    border: none;
}

.query_history_button:hover {
    background-color: #e66aff6e;
    cursor: pointer;
}

.searchResults {
    flex: 0 0 71%;
    background-color: lightcoral;
    border-radius: 10px;
}

.searchResultItem {
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    grid-template-columns: 50px auto;
    display: flex;
    align-items: flex-start;
}

.score {
    min-width: 60px;
    font-weight: bold;
    padding-right: 10px;
}