.main {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: whitesmoke;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.searchArea {
    display: flex;
    justify-content: center;
}

.searchBar {
    display: block;
    width: 500px;
    margin-right: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.material-symbols-outlined{
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.searchButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: greenyellow;
    opacity: 80%;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: greenyellow;
    opacity: 100%;
}

.container {
    display: flex;
}

.leftSidebar {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.query-history-section {
    background-color: silver;
    opacity: 80%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.queryHistory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stemmedKeywords {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stemmed-keywords-section {
    background-color: lightslategray;
    opacity: 80%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.query_history_button {
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    background-color: cyan;
    opacity: 80%;
    border: none;
    border-radius: 10px;
}

.query_history_button:hover {
    background-color: cyan;
    opacity: 100%;
    cursor: pointer;
}

.searchResultHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchResults {
    flex: 0 0 71%;
    background-color: lightgray;
    opacity: 70%;
    border-radius: 10px;
    text-align: center;
}

.searchResultItem {
    border: 3px solid slategray;
    background-color: lightgray;
    opacity: 100%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    grid-template-columns: 50px auto;
    display: flex;
    align-items: flex-start;
    text-align: start;
}

.searchResultItem:hover {
    border: 3px solid cyan;
    background-color: lightblue;
    opacity: 100%;
}

.score {
    min-width: 60px;
    width: 25%;
    font-weight: bold;
    padding-right: 10px;
}

.resultTitle {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.resultTitle:hover {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.lastModDate {
    font-weight: 600;
}

.pageSize {
    font-weight: 600;
}

.parentLinks {
    font-weight: 600;
}

.childLinks {
    font-weight: 600;
}

.getSimilarPages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fuchsia;
    opacity: 90%;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.getSimilarPages:hover {
    background-color: fuchsia;
    opacity: 100%;
}